<!DOCTYPE html>
<html>
  <head>
    <title>What Should I Be For Halloween?</title>
    <script src="/lib/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  </head>
  <body style="margin-top:40px;padding:20px">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner" style="padding-left:20px">
        <a class="brand" href="/" style="color:#EEE"><b>What Should I Be For Halloween?</b></a>
        <a href="/about" style="float:right;margin:8px 8px 0 0;"><span class="badge">?</span></a>
      </div>
    </div>

    <h3>Anything's sexy when it's halloween!</h3>

    <p>
      Brought to you by <a href="http://twitter.com/sarahmei">@sarahmei</a>. Powered by the Wikipedia random article API.
    </p>

    <p>
      Inspired by the following WTFs (and hundreds of others):
      <ul>
        <li><a href="http://www.yandy.com/Pinup-Mouse-Costume.php">Sexy Minnie Mouse</a></li>
        <li><a href="http://www.yandy.com/Sexy-Watermelon-Costume.php">Sexy Watermelon</a></li>
        <li><a href="http://www.yandy.com/Sexy-Red-Plumber-Costume.php">Sexy Mario</a> (also comes in <a href="http://www.yandy.com/Sexy-Green-Plumber-Costume.php">Luigi</a>)</li>
        <li><a href="http://www.yandy.com/Sequin-Clown-Fish.php">Sexy Nemo</a> (of Finding fame)</li>
        <li><a href="http://www.yandy.com/Detective-Imma-Watchya.php">Sexy Sherlock Holmes</a></li>
        <li><a href="http://www.yandy.com/spoonful-of-sugar-costume">Sexy Mary Poppins</a></li>
        <li><a href="http://www.yandy.com/Sexy-Lumberjack-Costume.php">Sexy Lumberjack</a></li>
        <li><a href="http://www.yandy.com/Lorax-Hood-and-Yellow-Dress.php">Sexy Lorax</a></li>
      </ul>
    </p>

    <form style="display:inline;" action="/" method="post">
      <input class="btn btn-primary" type="submit" value="Go again!"></input>
    </form>
  </body>
</html>
