<h3>Anything's sexy when it's halloween!</h3>

<p>
  Brought to you by <a href="http://twitter.com/sarahmei">@sarahmei</a>. 
  Powered by the Wikipedia random article API.
</p>

<p>
  When you hit the button, it retrieves a random article from Wikipedia.
  Then it prepends "sexy," and voila, instant costume idea.
  Because anything's sexy on Halloween!
</p>

<p>
  Inspired by the following WTFs (and hundreds of others):
  <ul>
    <li><a href="http://www.yandy.com/Pinup-Mouse-Costume.php">Sexy Minnie Mouse</a></li>
    <li><a href="http://www.yandy.com/Sexy-Watermelon-Costume.php">Sexy Watermelon</a></li>
    <li><a href="http://www.yandy.com/Sexy-Red-Plumber-Costume.php">Sexy Mario</a> (also comes in <a href="http://www.yandy.com/Sexy-Green-Plumber-Costume.php">Luigi</a>)</li>
    <li><a href="http://www.yandy.com/Sequin-Clown-Fish.php">Sexy Nemo</a> (of Finding fame)</li>
    <li><a href="http://www.yandy.com/Detective-Imma-Watchya.php">Sexy Sherlock Holmes</a></li>
    <li><a href="http://www.yandy.com/spoonful-of-sugar-costume">Sexy Mary Poppins</a></li>
    <li><a href="http://www.yandy.com/Sexy-Lumberjack-Costume.php">Sexy Lumberjack</a></li>
    <li><a href="http://www.yandy.com/Lorax-Hood-and-Yellow-Dress.php">Sexy Lorax</a></li>
  </ul>
  These are not affiliate links...just some of the weirder costumes I found looking around. If you get a 
  particularly good one from the generator, consider telling me about it 
  <a href="http://twitter.com/sarahmei">on twitter</a>. :)
</p>

<form style="display:inline;" action="/" method="post">
  <input class="btn btn-primary" type="submit" value="Go again!"></input>
</form>
