<!DOCTYPE html>
<html>
  <head>
    <title>What Should I Be For Halloween?</title>
    <script src="/lib/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  </head>
  <body style="margin-top:40px;padding:20px">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner" style="padding-left:20px">
        <a class="brand" href="#">What Should I Be For Halloween?</a>
      </div>
    </div>

    <p>
      This comment on the ridiculousness of "Sexy X" halloween costumes brought to you by
      <a href="http://twitter.com/sarahmei">@sarahmei</a>.
    </p>

    <p>
      Powered by the Wikipedia random article API.
    </p>

    <form style="display:inline;" action="/" method="post">
      <input class="btn btn-primary" type="submit" value="Go again!"></input>
    </form>
  </body>
</html>
