<div class="row">
  <div class="span12">
<h3>Anything's sexy when it's halloween!</h3>

<p>
  Brought to you by <a href="http://twitter.com/sarahmei">@sarahmei</a> and <a href="http://twitter.com/msfionatay">@msfionatay</a>. 
  Powered by the Wikipedia random article API.
</p>

<p>
  When you hit the button, it retrieves a random article from Wikipedia.
  Then it prepends "sexy," and voila, instant costume idea.
  Because anything's sexy on Halloween!
</p>

<p>
  Inspired by the following WTFs (and hundreds of others):
  <ul>
    <li><a href="http://www.yandy.com/Pinup-Mouse-Costume.php">Sexy Minnie Mouse</a></li>
    <li><a href="http://www.yandy.com/Sexy-Watermelon-Costume.php">Sexy Watermelon</a></li>
    <li><a href="http://www.yandy.com/Sexy-Red-Plumber-Costume.php">Sexy Mario</a> (also comes in <a href="http://www.yandy.com/Sexy-Green-Plumber-Costume.php">Luigi</a>)</li>
    <li><a href="http://www.yandy.com/Sequin-Clown-Fish.php">Sexy Nemo</a> (of Finding fame)</li>
    <li><a href="http://www.yandy.com/Detective-Imma-Watchya.php">Sexy Sherlock Holmes</a></li>
    <li><a href="http://www.yandy.com/spoonful-of-sugar-costume">Sexy Mary Poppins</a></li>
    <li><a href="http://www.yandy.com/Sexy-Lumberjack-Costume.php">Sexy Lumberjack</a></li>
    <li><a href="http://www.yandy.com/Lorax-Hood-and-Yellow-Dress.php">Sexy Lorax</a></li>
  </ul>
  These are not affiliate links...just some of the weirder costumes I found looking around. If you get a 
  particularly good one from the generator, consider telling me about it 
  <a href="http://twitter.com/sarahmei">on twitter</a>. :)
</p>

<p>
  <a href="http://github.com/sarahmei/halloween_helper">You can get the code for Halloween Helper on Github.</a> 
  This was a really fun Saturday afternoon hack.
</p>

<form action="/" method="post">
  <button class="btn btn-large" type="submit">
    <i class="icon-refresh"></i>
    Get a suggestion
  </button>
</form>

</div>
</div>