<!DOCTYPE html>
<html>
  <head>
    <title>What Should I Be For Halloween?</title>
    <script src="/lib/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  </head>
  <body style="margin-top:40px;padding:20px">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner" style="padding-left:20px">
        <a class="brand" href="/">What Should I Be For Halloween?</a>
      </div>
    </div>

    <h1 style="margin-bottom:30px;">Sexy <a href="<%= @article_url %>"><%= @article_title %></a>!</h1>

    <a class="btn btn-primary" href="/about">Buy this costume now!</a>
    or
    <form style="display:inline;" action="/" method="post">
      <input class="btn" type="submit" value="Try again"></input>
    </form>
  </body>
</html>
