<h3>How about a</h3>
<h1><a href="http://en.wikipedia.org/wiki/<%= @article_title %>">sexy <%= @article_title %></a>?</h1>
<h3>Awesome, right?</h3>

<a class="btn btn-primary" href="/about">Buy this costume now!</a>
or
<form style="display:inline;" action="/" method="post">
  <input class="btn" type="submit" value="Try again"></input>
</form>
