.row
  .span12
    %h3 Most Liked
- @articles.each do |article|
  .row
    .span2
      %strong
        = article.number_of_votes
    .span10
      %a{href: "/articles/#{article.id}"}
        = "Sexy #{article.title}"


